<?xml version="1.0" encoding="UTF-8"?>

<server name="TAP" id="1" max="10" local="127.0.0.1" netmask="255.255.255.0" wan="125.86.1.1"> 
  <portlist> 
    <portinfo name="inner" port="6600"/>  
    <portinfo name="808" port="6001"/>  
    <portinfo name="event" port="6603"/>  
    <portinfo name="forward" port="65005"/>  
    <portinfo name="alarm" port="6902"/> 
  </portlist>  
  <connectserverlist/>  
  <config debug="1" mediasize="1" gds="1" driverinfo="1" virtualdriver="1" httpalarm="0" similarity="0.8"/>  
  <ftpserverinfo name="ftp" port="6001" ip="125.86.1.1"/>  
  <identifysvr url="http://192.1.1.1:9999"/>  
  <webPorxy url="http://127.0.0.1:6001"/>  
  <database> 
    <dbinfo name="ivss" port="3306" ip="192.168.152.73" user="mvsp" password="123456"/>  
    <dbinfo name="mvsp2" port="3306" ip="192.168.152.73" user="mvsp" password="123456"/> 
  </database>  
  <httpsvr ip="127.0.0.1" port="6020"/>  
  <mqInfo ip="127.0.0.1" port="6003"/>  
  <delegateInfo ip="127.0.0.1" port="6002"/>  
  <alarmInfo ip="127.0.0.1" port="6022"/>  
  <svrInfo svrid="1"/>  
  <httplisten port="5000"/> 
</server>
